

/* Main Cart Component */

.singularCartComponent {
    background-color: rgba(250, 250, 250, 1);
    border-bottom: 1px solid black;
    border-top-right-radius: 10px;
    width: 70%;
    padding: 20px;
    display: grid;
    grid-template-columns: 0.5fr 2.2fr 0.3fr;
}

/* Main Content Inside Each Cart Component */

.singularCartComponentDeets h2 {
    font-size: 1.5rem;
    font-weight: 600
}

.singularCartComponentDeets p {
    font-size: 14px;
}

.singularCartComponentQuantity {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
}

.singularCartComponentQuantity p {
    margin-top: 5px;
}


#singularQuantity {
    border-radius: 24px;
    padding: 5px;
    width: 5%;
}

#singularQuantity:hover {
    background-color: rgb(235, 235, 235);
}

#singularQuantity:active {
    background-color: rgb(215, 215, 215);
}

.singularCartComponentQuantity p {
    font-size: 1rem;
}

/* Product Price */

.singularCartComponentPrice {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


